$color:#d43737;
$color-white:white;
$color-nav:rgba(255, 255, 255, 0.5);

@import 'mixin';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;

}

form {
    display: inline-block;
    width:50%;
    @include respond(phone){
        display: block;
        width:100%;
        }
}
input{
    overflow: visible;
display: block;
width: 100%;
padding: 1rem;
margin-bottom: 1rem;
font-size: 1.3rem;
}

body {
 
 font-family: 'Lato', sans-serif;
overflow-x: hidden;


}

section {
    padding-top: 10rem;

    @include respond(tab-land){
     padding:5rem 2rem;
    }

   

    
}
.container {
    max-width: 114rem;
    margin: 0 auto;
}
    
.heading-1 {
        color:$color;
        font-size: 2rem;
        margin-bottom: 1rem;

        
        
    }
    
.heading-2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        
    }
 .paragraph {
        font-size: 1.8rem;
        line-height: 1.8;
        color: rgba(0, 0, 0, 0.7);
      
        }
.paragraph-2 {
    width:50%;
      
    @include respond(phone){
        width:100%;
    }
        }


.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/backk.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;
    
   
    
    &__box {
        
        display: flex;
    flex-direction: column;
    align-items: center;
   
        
        
    }
    
    &__logo {
        
        width:30rem;
        height: auto;

        @include respond(phone){
            width:25rem;
            padding-top:3rem;
        }

        
    }
    

    
    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        color: $color-white;
        font-weight: 400;
        margin-bottom: 4rem;
        letter-spacing: 0.6rem;

        @include respond(phone){
            font-size: 2rem;
            margin:1rem;
        }
        
    }
    
    &__btn {
        text-decoration: none;
        padding: 1.1rem 2.7rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        color:$color-white;
        border: 2px solid transparent;
        background-color: $color;
        border-radius: 10rem;
        transition: all .2s;

        @include respond(phone){
            padding:1rem 2rem;
        }
        
        &:hover {
            
          background-color: #f00d0d;

            
        }
        
        &:active {
            transform: translateY(2px);
        }
        
        
    }
    
}

.nav {
    background-color: rgba(0, 0, 0, 0.94);
    position: absolute;
    top:0;
    right: 0;
    color: rgba(255, 255, 255, 0.6);
    width: 20%;
    height: 95vh;
    padding:1rem;
    
    
    @include respond(tab-land){
        width:25%;
    }
     
    @include respond(tab-port){
       
    display: none;
    width:100%;
    background-color: rgba(18, 17, 17, 0.9);
    
    }
    
    
    
    &__logo {
        height:20rem;
        margin-left: 3.5rem;

        @include respond(tab-port){
            display: block;
            margin: 0 auto;
           
            
            
            }
        
    }
    
    
    &__ul {
        margin-left: 4.5rem;

        @include respond(tab-port){
       
           text-align: center;
           margin-left: 0;
            
            }
        
    }
    &__icon {
        height:1rem;
        width: 1rem;
        fill:$color-nav;
        margin-right: 1rem;
        
    }
    
    &__item {
        list-style: none;
        padding: 1rem;
        margin-bottom: 2rem;
        font-size: 2.3rem;

        @include respond(tab-port){
            font-size: 2.8rem;
            
            }
       
        &::after {
         content:"";
         display: block;
         margin: 1rem auto 0 auto;
         border-style: double;
         border-width: 0.5px;
         color: rgba(255, 255, 255, 0.02);
        
         @include respond(tab-port){
        
            display: none;
              }
    
        }
        
 
    }
    &__link{
        text-decoration: none;
        color: $color-nav;

        @include respond(tab-port){
        
          color:$color-white;
            }
        
         &:hover  {
        color: $color-white;
    }
        
    }
   
}

.about {
    
    &__container {
        display: flex;
        padding: 6rem;

        @include respond(tab-land){
            padding:5rem;
        }

        @include respond(tab-port){
            padding:1rem;
        }

        @include respond(bg-phone){
            display: block;
              
        }
        
     
    }
    &__image {
        width: 50%;

        @include respond(bg-phone){
            width:100%;
            margin-bottom: 6rem;
            text-align: center;
              
        }
        
        
    }
    &__img {
        height:30rem;
        width: 40rem;
        border-radius: 5rem;

        @include respond(tab-port){
            width:35rem;
            height: 25rem;
        }

        @include respond(phone){
            width:28rem;
        }
        
    }
    
    &__info {
        margin-left: 10rem;

        @include respond(tab-port){
            margin-left:8rem;        }
        
        @include respond(bg-phone){
            margin-left: 0;
                  
            }
       
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    
    
   
    
    
}

.special {

    &__intro {
        padding:1rem;
        padding-bottom:3rem;
    }
   
    
    &__img {

        background-color:black;
        box-shadow: 10px 10px 30px 0 black;

    }
    
    &__image {
        height:20rem;
        width: 30rem;
        opacity:0.8;
        transition: all .3s;

        
        @include respond(tab-port){

            
        height:20rem;
        width: 25rem;
        }

    
     @include respond(bg-phone){

            
         height:15rem;
         width: 18rem;
        }

        &:hover {
            transform: scale(1.2);
            opacity: 1;
        }
                   


    }
    &__info {
        
    
    height:20rem;
    width: 30rem;
    padding:2rem;
    border: 1px solid rgba(48, 46, 46, 0.1);
    background-color: white;
    box-shadow: 10px 10px 30px 0 black;

    @include respond(tab-port){

            
        height:20rem;
        width: 25rem;
     }
    
    @include respond(bg-phone){

            
        height:15rem;
        width: 18rem;
     }

    
     
   
    
    
    &-heading {
    
        font-size: 2rem;
        margin: 2rem auto;
        text-align: center;
    
        
        @include respond(bg-phone){

           font-size: 1.4rem;
           margin:1rem 0;
          }

        }
        
        &-paragraph {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            text-align: center;

            @include respond(bg-phone){

                font-size: 1.2rem;
            }
        }
        
        &-price {
        font-size: 1.3rem;
        color:$color;
        text-align: center;

        @include respond(bg-phone){

            font-size: 1rem;
           }
        }
        
    
    }

    &__back{
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/color.jpg);
    background-size: cover;
    background-position: center;
    padding:1rem;

    }

    &__menu {
      
      display: grid;
      grid-template-columns: repeat(3, 30rem);
      grid-template-rows: repeat(2,20rem);
      justify-content: center;
      margin: 6rem 0;
     
      
      @include respond(tab-port){

        
      grid-template-columns: repeat(3, 25rem);
      grid-template-rows: repeat(2,20rem);
            
        
        }

         
        @include respond(bg-phone){
            grid-template-columns: repeat(3, 18rem);
            grid-template-rows: repeat(2,15rem);
            
           }

           @include respond(phone){
            grid-template-columns: repeat(2, 18rem);
           
        }
 
  
        
    
    }
    
}

.menu {
    
    
    &__items {
        margin: 10rem auto;
        
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 6rem;
      @include respond(phone){
        grid-template-columns:none;
      }
    } 
    
    &__item {
       margin-bottom: 1rem;
    
    }
    
    &__heading {
        font-size: 1.7rem;
        margin-bottom: 0.7rem;

    }
    
    &__paragraph {
        font-size: 1.5rem;
        color:rgba(0, 0, 0, 0.7);
        line-height: 1.8;
        
    }
    &__price {
        
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: $color;
    }
}

.dishOfWeek {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/newback.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
}

.card {
    width: 80rem;
  
    display: flex;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 10px 10px 30px 0 black;


      @include respond(tab-port){
        
        width:100%;
          
    }

    @include respond(phone){
        
        height:12rem;
          
    }


  
    &__image {
        width: 50%;

        @include respond(phone){
        
            width:100%;
    
              
        }
    }

    &__img {
        width: 100%;
    }

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 50%;

    @include respond(phone){
        padding: 1rem;
    }
    
    &__heading-1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: $color;

        @include respond(phone){
            font-size: 2rem;
        }
        
    }
    
    &__heading-2 {
       font-size: 2rem; 
        margin-bottom: 1rem;

        @include respond(phone){
            font-size: 1.5rem;
        }
        
    }
    
    &__paragraph {
        
        font-size: 1.5rem;

        @include respond(phone){
            display: none;
        }
    }
    
    

}

footer {
    background-color: #1c1813;
    padding: 5rem;
    color: $color-nav;
    
}
.footer {
    display: flex;
    @include respond(phone){
        text-align: center;
    }
    
}

.aboutus {
    width: 50%;
   
    @include respond(phone){
        width:90%;
    }
    &__heading {
        font-size: 2rem;
        color:$color-white;
         margin-bottom: 2rem;
    }
    &__paragraph {
        font-size: 1.5rem;
        line-height: 1.8;
        margin-bottom: 2rem;
        width: 70%;

        @include respond(phone){
            width:100%;
        }
        
    }
}

.location {
       list-style: none;
        margin-bottom: 2rem;
    
    &__list{
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
}

.hours {
    
   list-style: none;
    &__heading {

    font-size: 1.5rem;
    color:$color-white;
    margin-bottom: 1rem;
    }
    &__list {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
}
span {
     font-size: 1.5rem;
    margin-left: 0.5rem;
   
}
.reservations {
    display: flex;
    justify-content: space-around;
    padding:3rem;
    width: 75%;
    margin-left: 5rem;

    @include respond(phone){
        display:block;
        width: 100%;
        margin-left: 0;
    }
    
    &__date {
        width: 25%;
        margin-right: 1rem;
        font-size: 1.5rem;

        @include respond(bg-phone){
            width:40%;
              
        }

        

        
        
    }
    
    
    
}

.reserve {
    padding:2rem;
}

.reservations {
    @include respond(phone){
        text-align: center;
    }

    &__heading {
        font-size: 2.5rem;
        text-transform: uppercase;
        color:$color;
       
        
    }
    &__guest{
        padding:3px;
    }
   
    
    &__btn {
        display: inline-block;
        padding: 1.2rem 3.2rem;
      
        text-transform: uppercase;
        font-size: 1rem;
        background-color: $color;
        color:$color-white;
        border: none;
        cursor: pointer;

        @include respond(bg-phone){
            margin-top:10px;
        }
        
        &:focus {
          outline: none; 
        }
    }
    
    
}

.footer__image {
    width:50%;
    text-align: right;
    @include respond(phone){
        display: none;
        }
}

.footer__img{
    width: 75%;

}




.js-wp-1,
.js-wp-2{
    opacity: 0;
}

.js-wp-1.animated,
.js-wp-2.animated{
    opacity: 1;
}




.icon{
 
   display:  none;


@include respond(tab-port){

    float:right;
    cursor: pointer;
    font-size: 20px;
    color:white;
    margin-top: 1rem;
    position: absolute;
    display:block;
    top:5px;
    right:5px;
    z-index: 2;
   
}
}




.show_dinner,
  .show_drinks,
  .show_desserts{
    font-size: 2rem;
    padding: 3px;
    display: inline-block;
    font-size: 2rem;
    border-bottom: 1px solid #d43737;
    margin-right: 5px;
    transition: all 0.3s;
  }
  .show_dinner:hover,
  .show_drinks:hover,
  .show_desserts:hover{
    border-bottom: 1px solid#a32a2a;
    cursor: pointer;

  }



  .drinks, .desserts{
    display: none;
  }
  .show_menu{
    margin-top: 20px;
    text-align: center;
  }

  .schedule {
    font-size: 4rem;
  &__days {
    margin-bottom: 1rem;
  }
  @include respond(phone){
    display: none;
    }
}
  .schedule__days > h4 {
    color: #d43737;
  
    margin-bottom: 0.5rem;
  }

  hr{
      margin:1rem 0;
  }