@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

html,
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  color: #252525; }

a {
  text-decoration: none; }

p {
  font-size: 1.6rem;
  line-height: 1.6;
  width: 90%;
  font-weight: 300; }
  @media (max-width: 56.25em) {
    p {
      width: 100%;
      font-size: 1.5rem; } }

h1 {
  font-size: 3.5rem; }
  @media (max-width: 47.5em) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem; }

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #eb3922; }

h4 {
  font-size: 1.8rem;
  margin-bottom: 0.7rem; }

section {
  padding: 8rem 0; }
  @media (max-width: 75em) {
    section {
      padding: 5rem 0; } }

header {
  padding-bottom: 8rem;
  position: relative; }

.container {
  max-width: 85%;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .container {
      max-width: 90%; } }

.hero__container {
  display: flex;
  position: relative;
  height: 95vh; }
  .hero__container--left {
    width: 40%;
    padding-top: 2rem;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .hero__container--right {
    background-image: url("/img/b0.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    padding-top: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.hero__logo {
  height: 12.5rem;
  margin-top: -3rem; }
  .hero__logo img {
    height: 100%; }

.hero__text {
  width: 65%;
  margin-top: -6rem; }
  .hero__text--h3 {
    font-size: 2rem;
    color: #515151; }
  .hero__text--link {
    border: 1px solid #eb3922;
    background-color: #eb3922;
    color: #fff;
    padding: 0.8rem 1.3rem;
    font-size: 1.4rem;
    width: 12rem; }
    @media (max-width: 47.5em) {
      .hero__text--link {
        padding: 0.5rem 0.8rem; } }

.social {
  display: flex; }
  .social__links {
    margin-right: 0.5rem;
    font-size: 2rem;
    cursor: pointer; }
    .social__links--facebook {
      color: #515151; }
      .social__links--facebook:hover {
        color: #3b5998; }
    .social__links--twitter {
      color: #515151; }
      .social__links--twitter:hover {
        color: #1da1f2; }
    .social__links--instagram {
      color: #515151; }
      .social__links--instagram:hover {
        color: #8d3b98; }

.nav {
  text-align: right; }
  @media (max-width: 56.25em) {
    .nav {
      text-align: left;
      position: absolute;
      top: 0;
      right: 0;
      visibility: hidden;
      opacity: 0; } }
  .nav__list {
    list-style: none; }
    @media (max-width: 56.25em) {
      .nav__list {
        background-color: rgba(255, 255, 255, 0.8);
        height: 95vh;
        width: 100%;
        padding: 4rem; } }
    .nav__list--item {
      text-transform: uppercase;
      display: inline-block;
      font-size: 1.5rem;
      margin-right: 1.5rem;
      border-bottom: 2px solid transparent;
      transition: all 0.5s;
      cursor: pointer;
      padding: 0.5rem 0; }
      @media (max-width: 56.25em) {
        .nav__list--item {
          display: block;
          margin-bottom: 3.5rem;
          border-bottom: 0; } }
      .nav__list--item:hover:not(:last-of-type) {
        border-bottom: 2px solid #eb3922; }
        @media (max-width: 56.25em) {
          .nav__list--item:hover:not(:last-of-type) {
            border-bottom: none; } }
      .nav__list--item a {
        font-size: 1.5rem;
        color: #150e2b; }

.mobile__nav {
  color: #252525;
  display: none; }
  @media (max-width: 56.25em) {
    .mobile__nav {
      display: block; } }
  .mobile__nav i {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: -2rem;
    cursor: pointer; }

.nav:target {
  opacity: 1;
  visibility: visible; }

.slide {
  text-align: right;
  z-index: 9999999;
  cursor: pointer; }
  @media (max-width: 47.5em) {
    .slide {
      display: none; } }
  .slide__back {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    margin-right: -2px;
    background-color: #fff;
    color: #eb3922;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: 1px; }
    @media (max-width: 56.25em) {
      .slide__back {
        right: 12px; } }
  .slide__forward {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    background-color: #eb3922;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: -61px; }
    @media (max-width: 56.25em) {
      .slide__forward {
        right: -50px; } }

.image__gallery {
  position: absolute;
  top: 50%;
  right: -4%; }
  .image__gallery--circle {
    width: 5px;
    height: 5px;
    margin-bottom: 8px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.527); }

.activeClass {
  background-color: #eb3922;
  transform: scale(1.5); }

.about__container {
  display: flex; }
  @media (max-width: 56.25em) {
    .about__container--1 {
      flex-direction: column-reverse; } }
  @media (max-width: 56.25em) {
    .about__container--2 {
      flex-direction: column; } }

.about__image {
  width: 50%;
  height: 40rem; }
  @media (max-width: 56.25em) {
    .about__image {
      width: 100%;
      height: 100%;
      margin: 2.5rem 0; } }

.about__img {
  width: 100%;
  height: 100%; }

.about__info {
  width: 50%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  font-weight: 300; }
  @media (max-width: 56.25em) {
    .about__info {
      width: 100%;
      height: 100%;
      margin-left: 0; } }
  .about__info--h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #eb3922; }
  .about__info--p {
    margin-bottom: 2rem; }

.featured__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding-top: 3rem; }
  @media (max-width: 56.25em) {
    .featured__list {
      grid-template-columns: repeat(2, 1fr); } }

.featured__top {
  height: 22rem;
  position: relative; }
  .featured__top:hover figcaption {
    opacity: 1; }
  .featured__top:hover img {
    transform: scale(1);
    filter: blur(4px) brightness(80%); }
  .featured__top img {
    width: 100%;
    height: 100%; }
  .featured__top--caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    width: 80%;
    color: #fff;
    transform: translate(-50%, -50%);
    opacity: 0;
    backface-visibility: hidden; }
    .featured__top--caption span {
      display: block;
      margin-top: 2rem;
      font-size: 1.5rem;
      color: #eb3922; }

.featured__bottom {
  display: flex;
  justify-content: space-between; }

.featured__text {
  padding: 0.2rem; }
  .featured__text--p {
    line-height: 1rem;
    margin: 0.7rem 0;
    width: 100%; }
  .featured__text--order {
    color: #eb3922;
    margin-bottom: 0.5rem; }

.featured__order {
  background-color: #150e2b;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .featured__order i {
    font-size: 1.8rem; }

.menu__intro--paragraph {
  width: 50%; }
  @media (max-width: 56.25em) {
    .menu__intro--paragraph {
      width: 100%; } }

.menu__items {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15rem; }
  @media (max-width: 56.25em) {
    .menu__items {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem; } }

.menu__item {
  margin-bottom: 1rem; }
  .menu__item--price {
    font-size: 1.5rem;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    color: #eb3922; }

.show_dinner,
.show_drinks,
.show_desserts {
  font-size: 2rem;
  padding: 3px;
  display: inline-block;
  font-size: 2rem;
  border-bottom: 1px solid #d43737;
  margin-right: 5px;
  transition: all 0.3s; }

.show_dinner:hover,
.show_drinks:hover,
.show_desserts:hover {
  border-bottom: 1px solid #a32a2a;
  cursor: pointer; }

.drinks,
.desserts {
  display: none; }

.show__menu {
  margin-top: 20px;
  text-align: center; }
  .show__menu--list {
    margin-bottom: 2rem; }

.vegan {
  margin: 4rem auto; }

.dishOfWeek {
  background-image: url("/img/picture.jpg");
  background-size: cover;
  background-position: center;
  padding: 15rem; }
  @media (max-width: 56.25em) {
    .dishOfWeek {
      padding: 5rem; } }

.card {
  height: 32rem;
  display: flex;
  margin: 0 auto;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 10px 10px 30px 0 black; }
  @media (max-width: 47.5em) {
    .card {
      height: 100%;
      display: block; } }
  .card__image {
    width: 50%; }
    @media (max-width: 47.5em) {
      .card__image {
        display: none; } }
  .card__img {
    width: 100%;
    height: 100%; }
  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 50%; }
    @media (max-width: 47.5em) {
      .card__info {
        width: 100%;
        display: block; } }
    .card__info--paragraph {
      margin-bottom: 1rem; }
    .card__info--button {
      width: 100%;
      text-align: right; }

.testimonial__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px; }
  .testimonial__section--text {
    width: 50%;
    font-size: 3rem;
    line-height: 1.7;
    margin: 0 auto; }
    @media (max-width: 47.5em) {
      .testimonial__section--text {
        width: 100%; } }
  .testimonial__section--heading {
    color: #d43737;
    font-size: 3.5rem;
    margin-bottom: 3rem; }

.testimonies {
  font-size: 2.7rem; }

blockquote {
  color: #150e2b; }

cite {
  color: #eb3922; }

.circle {
  width: 20px;
  height: 20px;
  border: 0.2rem solid #eb3922;
  border-radius: 50%;
  display: inline-block; }

.circle-active {
  background: #eb3922; }

.footer__logo {
  width: 25%; }
  @media (max-width: 56.25em) {
    .footer__logo {
      width: 33.3%; } }
  .footer__logo span {
    color: #eb3922;
    font-size: 1.4rem; }
  .footer__logo p {
    color: #150e2b;
    width: 80%; }
    @media (max-width: 47.5em) {
      .footer__logo p {
        width: 95%; } }

.footer__links {
  color: #eb3922; }

.footer__hours {
  width: 25%; }
  @media (max-width: 56.25em) {
    .footer__hours {
      width: 33.3%; } }

.footer__contact {
  width: 25%; }
  @media (max-width: 56.25em) {
    .footer__contact {
      width: 33.3%; } }

.footer__subscribe {
  width: 25%; }
  @media (max-width: 56.25em) {
    .footer__subscribe {
      display: none; } }
  .footer__subscribe input {
    width: 90%;
    padding: 0.7rem 1rem; }
  .footer__subscribe i {
    font-size: 1.2rem;
    padding: 0.2rem;
    color: #eb3922; }

.footer__container {
  background-color: #eee;
  padding: 4rem 0; }
  .footer__container--top {
    display: flex;
    justify-content: space-between; }
    .footer__container--top p {
      font-size: 1.5rem; }
      @media (max-width: 47.5em) {
        .footer__container--top p {
          font-size: 1.4rem; } }
  .footer__container--bottom {
    display: flex;
    justify-content: space-between; }

.hr {
  height: 1px;
  width: 100%;
  margin: 2rem 0;
  background-color: rgba(0, 0, 0, 0.151); }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }
  .popup__container {
    width: 75%;
    height: 500px;
    margin: 50px auto;
    background-color: #fff;
    display: flex; }
    @media (max-width: 56.25em) {
      .popup__container {
        width: 95%; } }
    @media (max-width: 47.5em) {
      .popup__container {
        width: 85%; } }
  .popup__item {
    cursor: pointer;
    padding: 0.5rem; }
    .popup__item:hover {
      background-color: rgba(233, 227, 227, 0.384); }
  .popup__text {
    margin-bottom: 3rem; }
    .popup__text--heading {
      font-size: 2.5rem;
      text-align: center;
      color: #eb3922; }
    .popup__text--paragraph {
      font-size: 1.4rem;
      width: 100%;
      text-align: center; }
  .popup__menu {
    padding: 1.5rem;
    font-size: 2.5rem;
    overflow-y: scroll;
    width: 50%; }
    @media (max-width: 47.5em) {
      .popup__menu {
        width: 100%; } }
  .popup__order {
    cursor: pointer; }
    .popup__order:hover {
      background-color: #eb3922; }
  .popup__close {
    color: #fff;
    font-size: 3.5rem;
    position: absolute;
    top: 0.8rem;
    right: 10rem;
    font-weight: 600;
    cursor: pointer; }
    @media (max-width: 56.25em) {
      .popup__close {
        right: 2rem; } }
  .popup__image {
    width: 50%; }
    .popup__image img {
      width: 100%;
      height: 100%; }
    @media (max-width: 47.5em) {
      .popup__image {
        display: none; } }

.order__items {
  padding: 1rem;
  font-size: 4rem; }

.order__item {
  margin: 1.5rem 0; }

.order__description {
  margin: 0.3rem 0; }

.order__totals {
  text-align: right;
  font-size: 3rem; }

.order__info {
  margin: 1rem 0; }

.order a {
  color: white;
  padding: 0.8rem 1.3rem;
  border-radius: 2rem; }

.description {
  font-weight: 600; }

.total {
  color: #eb3922; }

.popup:target {
  opacity: 1;
  visibility: visible; }

.popup__order,
.pay {
  background: #eb3922;
  color: white;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  max-width: 130px;
  margin: 2rem auto; }

.active {
  background-color: #d3e3ef; }

.error {
  color: #d43737;
  text-align: center;
  font-size: 1.7rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 15vw);
  padding: 0; }
  @media (max-width: 47.5em) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 20vw); } }
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.js-wp-1,
.js-wp-2,
.js-wp-3,
.js-wp-4,
.js-wp-5,
.js-wp-6,
.js-wp-7 {
  opacity: 0; }

.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated,
.js-wp-4.animated,
.js-wp-5.animated,
.js-wp-6.animated,
.js-wp-7.animated {
  opacity: 1; }
